services:
  db:
    image: postgres:18
    environment:
    - POSTGRES_USER=postgres
    - POSTGRES_PASSWORD=postgres
    - POSTGRES_DB=postgres
    volumes:
    - bl-db-data:/var/lib/postgresql/data/
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 50M
  migration:
    build: .
    command: /app/migrate
    env_file:
    - ./.env
    depends_on:
    - db
    restart: on-failure
  web:
    build: .
    command: /app/web
    env_file:
      - ./.env
    ports:
      - "8081:8080"
    depends_on:
      - db
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 30M
  watcher:
    build: .
    command: /app/watcher
    env_file:
      - ./.env
    depends_on:
      - db
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 30M

volumes:
  bl-db-data:
